.search-class {
  margin-top: 30px;
}

.user-class {
  font-family: 'Montserrat';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.search-box {
  margin-left: 20px;
}

.searchbar {
  background: #EFF2FF;
  border: none;
  border-radius: .5rem;
}

.text-bottom {
  margin-left: 10px;
}

.text-name {
  font-family: 'lato';
  font-size: 16px;
  margin-left: 10px;
  color: #354583;
}

.text-right {
  margin-left: 30%;
  margin-top: 5px;
}

.dispute {
  color: #FF6738;
  font-size: 11px;
}

.voucher {
  color: #A0ABD9;
  font-size: 11px;
}

