$bg-color :#FBFBFD;



$sidebar-bg-color:#F3F3F7;;

$sidebar-active-color:#FF6738;
$font-white: black;

$font-black: white;

$card-bg-color: white;


$primary-color:#FF6738;

$header-bg:#FF6738;
$footer-bg-color:#354583;
