<div class="card my-2 px-4 py-4 " [routerLink]="'/voucher/'+voucher.id" routerLinkActive="router-link-active" >
  <p class="text-center fw-bolder light-black-color">{{voucher.companyName}}</p>
  <div class="d-flex image-container">
    <img [src]="voucher.companyImgUrl" class="card-img-top img-fluid" alt="..."></div>


    <h5 class="card-title text-center p-0 my-4 overflow-text fw-bolder" [title]="voucher.title">{{voucher.title}}</h5>
    <div class="d-flex justify-content-between">
      <div>
        <div class="small-font light-black-color">Expires in</div>
        <div class="fw-bolder dark-blue-color"> {{calculateExpiryDays(voucher.expiryDate)}} Days</div>
      </div>
      <div class="float-right">
        <div class="small-font light-black-color">Selling Price</div>
        <div class="text-end fw-bolder dark-blue-color">$ {{voucher.sellingPrice}}</div>
      </div>
    </div>


</div>
