<div class="content">
  <h1>FAQs</h1>

  <h3>BUYER</h3>

  <div>
    <input type="checkbox" id="question1" name="q"  class="questions">
    <div class="plus">+</div>
    <label for="question1" class="question">
      What does verified user mean?
    </label>
    <div class="answers">
      <p>A verified user is a user whose documents has been verified by Voucher Money.
        <br>
        For verification,
        <br>
        1. the user has submitted their SSN and phone number, and
        <br>
        2. Voucher Money has verified these details.
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question2" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question2" class="question">
      Why should I trust a verified seller?
    </label>
    <div class="answers">
      <p>
        A verified user has taken the effort to get his verification completed by VOUCHER MONEY. This means he or she is a serious seller.
        <br>
        Also since they have shared their personal information with us, they can be targeted by police and other authorities if they are found to be selling wrong listing or doing any other fraud on the platform. This means the user is assuring you that he or she is a genuine seller and is selling a approved listing.
      </p>

    </div>
  </div>
   <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question3" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question3" class="question">
      Can I view the information submitted by verified seller?
    </label>
    <div class="answers">
      <p>
        No. No user can view the information of a verified seller. It can only be shared with authorities who present a proper and valid notice to the same effect.
      </p>

    </div>
  </div>
  <!-- __________________________ SECTIONS ___________________________ -->

  <h3>Buying via Voucher Money</h3>

  <div>
    <input type="checkbox" id="question4" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question4" class="question">
      How do I search for a product?
    </label>
    <div class="answers">
      <p>
        Eyeing your favourite item. VOUCHER MONEY provides you 2 super simple options to find item of your choice.
        <br>
        Search bar: Finding by listing name/description<br>
        Category search: Finding via relevant category
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question5" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question5" class="question">
      How can I contact a Seller?
    </label>
    <div class="answers">
      <p>
        The platform does not provide any means to contact the seller.
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question6" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question6" class="question">
      Points to remember while checking out listing/s?
    </label>
    <div class="answers">
      <p>
        As a buyer it is important to verify your product before making a purchase!
        <br>
        Things to remember: -
        <br>
      </p>
      <ol>
        <li>2.5% Convenience Fee of total listing price will be added.</li>
        <li>5% of total listing price will be added as Loyalty Coins.</li>
      </ol>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question7" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question7" class="question">
      How to report an issue
    </label>
    <div class="answers">
      <p>
        The buyer can report an issue only for the listings he/she has bought.
      </p>
      <ol>
        <li>Click on Orders icon</li>
        <li>Click on Report An Issue for the listing you want to report</li>
        <li>Enter the Issue Description</li>
        <li>Click on Submit</li>
      </ol>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question8" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question8" class="question">
      What happens when an issue is submitted?
    </label>
    <div class="answers">
      <p>
        An issue will be considered valid and taken up for resolution only if it is reported within 48 hours of purchase.If the issue is valid as verified by VoucherMoney,amount will be refunded to the buyer within 7 working days from the day of reporting the issue.
        <br>
        Any issue reported after 48 hours of purchase will not be considered a valid request and no amount shall be refunded to the buyer.
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->

  <!-- __________________________ SECTIONS ___________________________ -->

  <h3>SELLER</h3>
  <div>
    <input type="checkbox" id="question9" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question9" class="question">
      Why do other listings show a verified user tag but my listing does not has any such tag?
    </label>
    <div class="answers">
      <p>Any seller who successfully completes his or her KYC is shown to buyers as a verified user. As a seller, you can also do your KYC free of cost and be shown to buyers as a verified user.</p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question10" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question10" class="question">
      What is KYC?
    </label>
    <div class="answers">
      <p>
        KYC is short for Know Your Customer. KYC is often used by banks and financial institutions to verify the identification and contact details of their customers.
        <br>
        At VOUCHER MONEY, we also verify users, especially sellers, on our platform. Sellers have to submit a <br>
        1. SSN<br>
        2. Phone Number associated with SSN
        <br>
        This information is manually verified by our team.
      </p>

    </div>
  </div>

<!-- _____________________________________________________ -->

  <div>
    <input type="checkbox" id="question11" name="q"  class="questions">
    <div class="plus">+</div>
    <label for="question11" class="question">
      What is the cost of KYC?
    </label>
    <div class="answers">
      <p>
        Well, it will cost you a big zero :)
        <br>
        Thats right, we offer KYC free of cost. We are grateful you have chosen VOUCHER MONEY to sell your listing and we offer this free service as a token to appreciate your gesture
        and help you stand out as a serious seller. Without spending any money, you complete your KYC and get the ""verified user"" badge to stand out.
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question12" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question12" class="question">
      What happens after my KYC details are submitted?
    </label>
    <div class="answers">
      <p>
        Once you submit your KYC details, it goes to our moderators who will manually review your details. If all your submitted details match our criteria, you will be marked as a verified user.
      </p>


    </div>
  </div>
   <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question13" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question13" class="question">
      Will I get notified once my KYC is approved

    </label>
    <div class="answers">
      <p>
        Yes, you will get a notification from VOUCHER MONEY with confirmation of your approval.
         We will also notify you in case we are not able to verify all your details so that you can try again.
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->

  <!-- __________________________ SECTIONS ___________________________ -->

  <h3>RIGHTS &amp; USAGE</h3>
  <div>
    <input type="checkbox" id="question14" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question14" class="question">
      Who can see my personal information?
    </label>
    <div class="answers">
      <p>
        No one. No other buyer or seller will be able to view your information. However, we are bound by law to share your details with police or other authorities in instance of a wrongdoing.
      </p>
    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question15" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question15" class="question">
      Will VOUCHER MONEY share my personal information with anyone?
    </label>
    <div class="answers">
      <p>
        Never. The information you submit is used only for your KYC verification. It will never with shared with anyone within VOUCHER MONEY or outside.
        We are however obligated to share your information with authorities as per prevailing rules and regulations.
      </p>
    </div>
  </div>

  <!-- _____________________________________________________ -->

  <div>
    <input type="checkbox" id="question27" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question27" class="question">
      What if I forget my password?
    </label>
    <div class="answers">
      <p>You can reset your password through our reset portal. </p>

    </div>
  </div>
   <!-- _____________________________________________________ -->

  <!-- __________________________ SECTIONS ___________________________ -->


  <!-- <h3>USING THIS WEBSITE</h3>

  <div>
    <input type="checkbox" id="question26" name="q"  class="questions">
    <div class="plus">+</div>
    <label for="question26" class="question">
      What are the benefits of registering for an online user account?
    </label>
    <div class="answers">
      <p>
        We know that your time is very valuable.
        As a registered user, the time you spend browsing our site and learning about our products can be saved in your Wish List,
        and you can create multiple Wish Lists for future visits.
        You can also save carts for impending purchases.
      </p>
    </div>
  </div> -->
  <!-- _____________________________________________________ -->

  <!-- <div>
    <input type="checkbox" id="question28" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question28" class="question">
      Who do I contact with feedback regarding this site?
    </label>
    <div class="answers">
      <p>All comments are welcome. Please submit your feedback, suggestions, or comments here.  To read our privacy policy, please <span class="mouse-pointer" routerLink="/T&C">click here</span>.</p>
    </div>
  </div> -->
  <!-- _____________________________________________________ -->






  </div>
