.payment-status-container {
  border: .125rem solid green;
  border-radius: .5rem;
  color: green;
  padding: .15rem .5rem;
  text-align: center;

  // width: max-content;
}

.image-container {
  height: 19vh;

  img {
    height: 19vh;
  }
}
