@import '../../scss/variables.scss';

.action-button {
  color: $primary-color;
  font-weight: 500;
}

table {
  width: 100%;
  margin: 2rem 0;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  padding-top: 2.6vh ;
  padding-bottom: 2.6vh;
  font-size: 2.3vh;
}

.example-element-detail {
  overflow: hidden;
}


th{
  font-weight: bolder;
  font-size: 2.3vh;
}

tr.example-detail-row {
  height: 0;
  text-align: left;
}

.voucher-image {
  max-height: 35vh;
  margin: auto;
}

.image-container {
  height: 35vh;
}

