<div class="p-2 p-md-4 w-100 ">
  <h1 class="text-center p-2">Reset Password</h1>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        placeholder="OTP"
        name="otp"
        formControlName="otp"
        value=""
      />
      <div *ngIf="resetForm.get('otp')!.invalid && !resetForm.get('otp')!.untouched">
        <span class="red-text" *ngIf="resetForm.get('otp')!.errors?.required">Please enter the received OTP!</span>
      </div>
    </div>
    <br>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="New Password"
        name="newPassword"
        formControlName="newPassword"
        value=""
      />
      <div *ngIf="resetForm.get('newPassword')!.invalid && !resetForm.get('newPassword')!.untouched">
        <span class="red-text" *ngIf="resetForm.get('newPassword')!.invalid">Password should be min 6 characters!</span>
      </div>
    </div>
    <br>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Retype New Password *"
        name="newPassword2"
        formControlName="newPassword2"
        value=""
      />
      <div *ngIf="resetForm.get('newPassword2')!.invalid && !resetForm.get('newPassword2')!.untouched">
        <span class="red-text" *ngIf="resetForm.get('newPassword2').value !=resetForm.get('newPassword').value">Password not match!</span>
        <!-- <span class="red-text" *ngIf="resetForm.invalid">Password does not match!</span> -->
      </div>
    </div>

    <div class="form-group pt-4">
    <button type="submit" [disabled]=" resetForm.get('newPassword')!.invalid || (resetForm.get('newPassword').value===null ||  resetForm.get('newPassword').value != resetForm.get('newPassword2').value)" class="button">Reset</button>
  </div>
  </form>
</div>
